[Desktop Entry]
Version=1.0
Type=Link
Name=практика2
Comment=
Icon=user-bookmarks
URL=https://mashabela.notion.site/2-7c6afebf246c44d795a1fbd75a971038\r
