[Desktop Entry]
Version=1.0
Type=Link
Name=Практика 1
Comment=
Icon=user-bookmarks
URL=https://mashabela.notion.site/1-c2fd5d8cbb1e40bc8c88a8a29cc10735\r
