[Desktop Entry]
Type=Application
Name=DrTechnic
Exec=xdg-open https://github.com/DrTECHNIC
Icon=hubstaff-green
Categories=Network;
Comment=
Path=
Terminal=false
StartupNotify=false
